/* Designed & coded by Sandra Ashipala 03.02.2022 <https://github.com/sandramsc> */
.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 800;
}

.checkoutProduct_info {
  padding-left: 20px;
}

.checkoutProduct_info > button {
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  border-radius: 2px;
  background: linear-gradient(to bottom, #f8d479 0%, #f0c14b 100%) repeat scroll
    0 0 rgba(0, 0, 0, 0);
}

.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_rating {
  font-size: 17px;
  font-weight: 800;
  display: flex;
}
