/* Designed & coded by Sandra Ashipala 03.02.2022 <https://github.com/sandramsc> */
.checkout {
  display: flex;
  padding: 20px;
  background-color: #fff;
  height: max-content;
  overflow: hidden;
}


.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
