#swatchItem,
#chosenSwatchAttr {
	min-width: 18px;
    height: 18px;
    border: 0.2px solid #ddd;
    box-sizing: border-box;
    font-family: "Urbanist";
    font-weight: 400;
    font-size: 16px;
    color: #26282a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 8px;
    padding: 0px 5px;
}

#swatchItem {
	cursor: pointer;
    transform: scale(1.05);
}

#swatchItem:hover {
	cursor: pointer;
	border: 2px solid #ddd;
}

#chosenSwatchAttr {
	box-shadow: rgba(0, 230, 64, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border: 1px solid lime;
}