#textAttrItem,
#chosenTextAttr {
	min-width: 30px;
	height: 30px;
	border: 1px solid #26282a;
	box-sizing: border-box;
	font-family: "Urbanist";
	font-weight: 400;
	font-size: 16px;
	color:  #26282a;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 6px;
	margin-bottom: 8px;
	padding: 0px 5px;	
}

#textAttrItem {
	color: #26282a;
	border: 1px solid black;
	background-color: white;
}

#textAttrItem:hover {
	cursor: pointer;
    transform: scale(1.05);
}

#chosenTextAttr {
	background-color: #26282a;
    color: white; 
    box-shadow: rgba(0, 230, 64, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}