@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.error-text, .error-icon{
    display: none;
}
.field-group.error .error-text,
.field-group.error .error-icon{
    display: block;
}

.field-group.error input{
    border: 1px solid hsl(0, 100%, 74%);
}
.field-group.error input[type= email] {
    border: 1px solid hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}
html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

#section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 30px;
    max-width: 1300px;
    margin: 0 auto;
}

.left-col{
    flex: 1;
    margin-bottom: 50px;
}
.left-col h1{
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 15px;
}

.left-col p{
    color: white;
    font-size: 1.1rem;
    line-height: 1.9rem;
}


.right-col{
    flex: 1;
}

.attribution { font-size: 13px; text-align: center; font-weight: 500;}
.attribution a { color: hsl(228, 45%, 44%); }
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 100%, 74%);
}

.right-col .top-box{
    background-color: hsl(248, 32%, 49%);
    color: white;
    padding: 15px 90px;
    border-radius: 15px;
    box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
    margin-bottom: 30px;
}
.right-col .top-box p{
    font-size: 1.3rem;
    line-height: 2.2rem;
}

.right-col .top-box p span{
    font-weight: 700;
}

.right-col .form-container{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
}
.field-group{
    position: relative;
    margin-bottom: 25px;
}

.right-col label{
    display: none;
}

.right-col input, .right-col button[type= submit] {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1.2px 1px solid hsl(246, 25%, 72%);
    color: hsl(129, 10%, 26%);
    font-family: 'Poppins';
    outline: none;
    padding-left: 20px;
    font-size: 1.1rem;
    font-weight: 600;
}
.right-col input:focus{
    border: 1px solid hsl(249, 10%, 26%);
}
.right-col input::placeholder{
    color: hsla(249, 10%, 26%, 0.678);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Poppins';
}
.right-col button[type= submit] {
    cursor: pointer;
    border: none;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0px 4px hsl(154, 56%, 44%);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: white;
}
.right-col button[type = submit]:hover{
    background-color: hsl(154,80%,63%);
}
.right-col .form-footer{
    margin-top: 10px;
    color: hsl(246, 25%, 77%);
    font-size: 12px;
}
.right-col .form-container span{
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}
.error-icon{
    position: absolute;
    top: 20%;
    right: 20px;
}
.error-text{
    text-align: right;
    font-size: .8rem;
    font-style: italic;
    color: hsl(0, 100%, 74%);
    font-weight: 500;
}
@media only screen and (min-width: 1000px){
    #section{
        flex-direction: row;
        background-image: url(./images/bg-intro-desktop.png);
    }
    .container{
        flex-direction: row;
    }
    .left-col{
        text-align: left;
        padding-right: 50px;
    }
    .left-col h1{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .left-col p{
        font-size: 1.1rem;
    }
    .right-col {
        max-width: 800px;
        width: 700px;
    }
    .right-col .top-box p{
        font-size: 1.1rem;
    }
    .right-col .form-container{
        padding: 40px;
    }
    .right-col input{
        font-size: 14px;
        color: hsla(249, 10%, 26%, 0.678);
    }
    .right-col .form-footer{
        margin-top: 20px;
        font-size: .7rem;
    }
}
